body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
    background-color: black;
    font-family: 'Inter', sans-serif;
}

h1{
    margin: 0 0 15px 0;
    font-weight: 800;
}
.container{
    width: 550px;
    margin: auto;
    
}

.header{
    background-color: #6943FF;
    color: #fff;
    padding: 25px 0;
}

#btn{
    display: block;
    margin: auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}
#input-el{
    display: block;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #B295FF;
    background-color: #B295FF;
    color: #fff;
    font-size: 58px;
    width: 117px;
    height: 83px;

}
section{
    background-color: #1F2937;
    padding: 10px;
}

.box{
    width: 500px;
    height: 108.57px;
    /* font-size: 14px; */
    text-align: center;
    color: #fff;
    background-color: #273549;
    padding: 10px 0;
    margin: 18px;
    border-radius: 10px;
}

